@page "/chat"

<style>
    body {
        background: #FD0002;
    }
</style>

<h3>Chat</h3>
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:700" rel="stylesheet">

<div class="dialog border">
    <div class="dialog outer">
        <div class="dialog inner">
            Nothing's gonna make your husband or wife madder than coming home and having a snow-covered dinner. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. We'll put all the little clouds in and let them dance around and have fun. God gave you this gift of imagination. Use it.
        </div>
    </div>
</div>

<div class="dialog outer">
    <div class="dialog inner">
        Didn't you know you had that much power? You can move mountains. You can do anything. We must be quiet, soft and gentle. Let your imagination just wonder around when you're doing these things. You gotta think like a tree. As trees get older they lose their chlorophyll.
    </div>
</div>

<div class="dialog outer invert">
    <div class="dialog inner invert">
        You got your heavy coat out yet? It's getting colder. Happy painting, God bless. Isn't it fantastic that you can change your mind and create all these happy things? Just pretend you are a whisper floating across a mountain.
    </div>
</div>


@code {
    List<string> Comments = new();

    protected override void OnInitialized()
    {
        Comments = new()
        {
            "My Comment",
            "My Comment 2",
            "My Comment 3",
            "My Comment 4",
            "My Comment 5",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "My Comment 7",
            "My Comment 8",
            "My Comment 9",
        };

        base.OnInitialized();
    }
}
